i {
    font-size: 20px;
    color: rgb(46, 43, 226);
}

.fa-edit {
    color: rgb(247, 148, 0);
}

.fa-trash-alt {
    color: crimson;
    cursor: pointer;
}

.fa-pulse {
    font-size: 15px;
    font-weight: bold;
}

nav .fas {
    color: rgb(65, 65, 65);
    padding-right: 10px;
}

.fas {
    color: rgb(65, 65, 65);
}

td.details-control {
    background: url('/img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/img/details_close.png') no-repeat center center;
}

.background-aval {
    background-color: #c6f8be;
}

.navbar-brand img {
    width: 40px;
}

.note-toolbar .note-btn-group i {
    color: rgb(61, 61, 61)!important;
    font-size: 16px;
}

.activado a,
.activado i {
    color: rgb(35, 209, 0)!important;
}

.card-admin {
    background-color: rgba(153, 235, 128, 0.6);
    margin-top: 30px;
}

.card-admin:hover,
.boton-nueva-noticia a:hover {
    background-color: rgba(138, 218, 114, 0.6);
}

.card-admin h4 {
    font-weight: 600;
}

.card-title a {
    color: rgb(61, 61, 61)!important;
}

.boton-nueva-noticia a {
    float: right;
    padding: 13px 15px;
    height: 40px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.5px;
    border: none;
    color: #000;
    cursor: pointer;
    background-color: rgba(136, 255, 100, 0.6);
}

.slug {
    width: 100%;
    border: none;
    background: none;
}

.slug-cont {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

table {
    border: solid 1px #f1f1f1;
}

#message-detail {
    font-size: 16px;
    line-height: 35px;
}

.descargar-pdf i {
    padding-right: 5px;
    color: #5c5c5c;
    font-size: 14px;
}