/* i {
    font-size: 20px;
    color: rgb(46, 43, 226);
} */

.fa-edit {
    color: rgb(247, 148, 0);
}


/* .fa-trash-alt {
    color: crimson;
    cursor: pointer;
} */

nav .fas {
    color: rgb(65, 65, 65);
    padding-right: 10px;
}

.fa-envelope-open,
.fa-envelope {
    font-size: 20px;
}

.fa-envelope-open {
    color: rgb(161, 161, 161);
}


/* .fas {
    color: rgb(65, 65, 65);
} */

.fa,
.fas {
    font-weight: 100!important;
}

.navbar-brand img {
    width: 40px;
}

.note-toolbar .note-btn-group i {
    color: rgb(61, 61, 61)!important;
    font-size: 16px;
}

.activado a,
.activado i {
    color: rgb(35, 209, 0)!important;
}

.card-admin {
    background-color: rgba(153, 235, 128, 0.6);
    margin-top: 30px;
}

.card-admin:hover,
.boton-nueva-noticia a:hover {
    background-color: rgba(138, 218, 114, 0.6);
}

.card-admin h4 {
    font-weight: 600;
}

.boton-nueva-noticia a {
    float: right;
    padding: 13px 15px;
    height: 40px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.5px;
    border: none;
    color: #000;
    cursor: pointer;
    background-color: rgba(136, 255, 100, 0.6);
}

.btn-marcar-como-respondido {
    line-height: 14px;
    font-size: 12px;
}

.mensaje-sweet {
    text-align: left;
}

.modals-mensajes p {
    font-size: 18px;
    margin-bottom: 0px;
}

.modal-title {
    font-size: 20px;
}

.modal-header {
    background-color: rgb(247, 247, 247);
    border-top: rgb(35, 209, 0) solid 3px;
}