i {
    font-size: 20px;
    float: left;
    padding-right: 10px;
    color: rgb(46, 43, 226);
}
.fa-edit {
    color: rgb(247, 148, 0);
}
.fa-trash-alt {
    color: crimson;
    cursor: pointer;
}
.fa-sign-out-alt, .fa-users {
    color: rgb(65, 65, 65);
}
