<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>

  <appSettings>
	
	<!-- para envío mail de contacto -->

    <add key="MAILCONF_SMTP_SERVER" value="smtp.gmail.com" />
    <add key="MAILCONF_SMTP_PORT" value="587" />
    <add key="MAILCONF_SMTP_SSL" value="SI" /> <!-- dejar vacío para no usar ssl -->
    <add key="MAILCONF_SMTP_USERNAME" value="pruebasistemas321@gmail.com" /> <!-- dejar vacío para no usar auth -->
    <add key="MAILCONF_SMTP_PASSWORD" value="123sistemasprueba" /> <!-- dejar vacío para no usar auth -->

    <add key="MAILCONF_CONTACTO_REMITENTE" value="no-reply@avalrural.com.ar" />
    <add key="MAILCONF_CONTACTO_DESTINATARIO_1" value="e.stuarts@mas54.com" />
    <add key="MAILCONF_CONTACTO_DESTINATARIO_2" value="" /> <!-- se puede dejar vacío -->
    <add key="MAILCONF_CONTACTO_DESTINATARIO_3" value="" /> <!-- se puede dejar vacío -->
    <add key="MAILCONF_CONTACTO_ASUNTO" value="Contacto desde Sitio Web" />

    <add key="MAILCONF_PRECALIFICATE_REMITENTE" value="no-reply@avalrural.com.ar" />
    <add key="MAILCONF_PRECALIFICATE_DESTINATARIO_1" value="e.stuarts@mas54.com" />
    <add key="MAILCONF_PRECALIFICATE_DESTINATARIO_2" value="" /> <!-- se puede dejar vacío -->
    <add key="MAILCONF_PRECALIFICATE_DESTINATARIO_3" value="" /> <!-- se puede dejar vacío -->
    <add key="MAILCONF_PRECALIFICATE_ASUNTO" value="Precalificación en Sitio Web" />

  </appSettings>

  <system.web>

    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-AR" />

    <customErrors mode="Off" />

  </system.web>
  
</configuration>
