.empresa_burger {font-family: 'Quicksand', sans-serif;}

.boton_descarga a {
  background-image: url(../img/icon_descarga_pdf.png)!important;
  background-repeat: no-repeat!important;
  background-position: right 6px center !important;
  cursor: pointer!important;
  padding: 2%!important;
  background-color: #4c565f!important;
  border-style: none!important;
  outline: none!important;
  margin-top: 15px!important;
  margin-bottom: 10px!important;
  content: none!important;
}
.boton_descarga p{
  padding-right: 30px!important;
  color: #fff!important;
}

.boton_descarga:hover, .boton_operacion:hover, .boton_no_operacion:hover{
  background-color: #7dba57!important;
  -webkit-transition: .3s ease-out;   -moz-transition: .3s ease-out;    -ms-transition: .3s ease-out;     -o-transition: .3s ease-out;        transition: .3s ease-out;text-decoration: none;
}




.empresa_burger ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #777;
}

.empresa_burger a {
  display: block;
  padding: 24px;
  background-color: #fff;
  color: #777;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
}
.empresa_burger ul li a:hover{
  background-color: #7dba57;
  color: #fff;
  -webkit-transition: .3s ease-out;-moz-transition: .3s ease-out;-ms-transition: .3s ease-out;-o-transition: .3s ease-out;transition: .3s ease-out;
}
.empresa_burger ul li a:before {
  content: "+";
  width: 28px;
  display: inline-block;
  vertical-align: top;
  float: right;
}
.items li {list-style-type: disc;}

.empresa_burger ul li.desplegable > a:before,
.empresa_burger ul li ul li.desplegable > a:before {
  content: "+";
  list-style: circle;
}
.empresa_burger ul li.desplegable.active > a:before,
.empresa_burger ul li ul li.desplegable.active > a:before{
  content: "-";
}
.empresa_burger ul ul, .empresa_burger ul ul ul {
  padding: 20px;
  display: none;
  width: 100%;
  padding-left: 50px;
}
.empresa_burger li{padding-bottom: 10px;}
